h1, h2, h3, h4, p, span, input{
    font-family: 'Open Sans', sans-serif;
}

body{

    margin: 0;
    /* border: red solid 1px; */

}

header{
    display: flex;
    flex-direction: line;
    background-color: black;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

header #ftitulo{
    text-align: center;
    padding: 20px;
    color: white;
    margin: auto auto;
}

header #ftitulo:hover{
    color: blue;
    transition-duration: 500ms;
}

header img{
    
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin: 15px;

}

#container{
    width: 85%;
    /* border: 1px solid green; */
    margin: auto;
    height: 400px;
}

footer{
    height: 50px;
    background-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}




